<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuis 5</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="newUser"/>
        <button v-show="isShow" v-on:click=addUser()>Add</button>
        <button v-show="!isShow" v-on:click= "updateUser()">Update</button>
        
        <ul>
            <li v-for="(item, index) in users">{{item.name}} <button v-on:click="editUser(index)">Edit</button> || <button v-on:click="deleteUser(index)">Delete</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                isShow : true,
                function : 'addUser()',
                newUser : "",
                indx : 0,
                users : [
                    {
                        'name' : 'Muhammad Iqbal Mubarok',
                    },
                    {
                        'name' : 'Ruby Purwanti',
                    },
                    {
                        'name' : 'Faqih Muhammad',
                    },
                ],
                
            },
            methods: {
                addUser : function(){       
                    this.users.push({'name' : this.newUser});
                    this.newUser ="";   
                },
                editUser : function(index){
                    this.newUser = this.users[index].name;
                    this.message = 'Update';
                    this.isShow = false;
                    this.indx = index;
                },
                deleteUser : function(index){
                    confirm('Yakin Hapus?');
                    this.users.splice(index, 1);
                },
                updateUser : function(){
                    this.users[this.indx].name = this.newUser
                    this.newUser = ""
                    this.isShow = !this.isShow;
                }
            }
           
        })
    </script>
</body>
</html>